outputs/Data[[:space:]]A/**/*.parquet filter=lfs diff=lfs merge=lfs -text
outputs/research_v2/**/*.parquet filter=lfs diff=lfs merge=lfs -text
outputs/research_v2/**/*.zip filter=lfs diff=lfs merge=lfs -text
